$base-font: 1rem;
$base-offset: 0.5rem;

@for $i from -4 through 4 {
  $k: $i;

  @if $i < 0 {
    $k: 'n' + -1 * $i;
  }

  .ma-#{$k} {
    margin: $base-offset * $i;
  }

  .pa-#{$k} {
    padding: $base-offset * $i;
  }
}

@for $i from -4 through 4 {
  $k: $i;

  @if $i < 0 {
    $k: 'n' + -1 * $i;
  }
  .my-#{$k}, .ma-#{$k}.my-#{$k},
  .mb-#{$k}, .ma-#{$k}.mb-#{$k} {
    margin-bottom: $base-offset * $i;
  }

  .my-#{$k}, .ma-#{$k}.my-#{$k},
  .mt-#{$k}, .ma-#{$k}.mt-#{$k} {
    margin-top: $base-offset * $i;
  }

  .mx-#{$k}, .ma-#{$k}.mx-#{$k},
  .ml-#{$k}, .ma-#{$k}.ml-#{$k} {
    margin-left: $base-offset * $i;
  }

  .mx-#{$k}, .ma-#{$k}.mx-#{$k},
  .mr-#{$k}, .ma-#{$k}.mr-#{$k} {
    margin-right: $base-offset * $i;
  }

  .py-#{$k}, .pa-#{$k}.py-#{$k},
  .pb-#{$k}, .pa-#{$k}.pb-#{$k} {
    padding-bottom: $base-offset * $i;
  }

  .py-#{$k}, .pa-#{$k}.py-#{$k},
  .pt-#{$k}, .pa-#{$k}.pt-#{$k} {
    padding-top: $base-offset * $i;
  }

  .px-#{$k}, .pa-#{$k}.px-#{$k},
  .pl-#{$k}, .pa-#{$k}.pl-#{$k} {
    padding-left: $base-offset * $i;
  }

  .px-#{$k}, .pa-#{$k}.px-#{$k},
  .pr-#{$k}, .pa-#{$k}.pr-#{$k} {
    padding-right: $base-offset * $i;
  }
}

.form-control {
  label {
    display: block;
    margin-bottom: $base-offset;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: $base-font * 2;
}

h2 {
  font-size: $base-font * 1.5;
}

h3 {
  font-size: $base-font * 1.25;
}

h4 {
  font-size: $base-font * 1;
}

h5 {
  font-size: $base-font * 0.825;
}

h6 {
  font-size: $base-font * 0.75;
}
